.publication_data_pane {
    position: absolute;
    background-color: whitesmoke;
    height: 300px;
    top: 0;
    left: 0;
}

.publication_data_pane
.pub_name {
    width: 100%;
    height: 30px;
    font-size: 20px;
    line-height: 30px;
    padding-left: 10px;
    margin: 5px;
}

.publication_data_pane
.year_text {
    width: 45%;
    height: 35px;
    margin: 5px;
    float: left;
    display: block;
    text-align: center;
}

.publication_data_pane
.selector_base {
    position: relative;
    width: 50%;
    height: 45px;
    float: left;

    /* background-color: red; */
}

.publication_data_pane
.pub_note_text {

    clear: both;
    width: 100%;
    height: 60px;
    margin-top: 5px;
}

.publication_data_pane
.row {
    width: 100%;
    height: 45px;
    
}

.publication_data_pane
.ok_row {
    position: absolute;
    bottom: 0;
}

.publication_data_pane
.ok_button {
    position: relative;
    float: right;
}

