.swipe_pane_frame {
    width: 100%;
    height: 100%;

    /* background-color: red; */

}

.swipe_pane_frame .inner_frame {
    position: absolute;
    width: 300%;
    height: 100%;
    left: -100%;
    top: 0;

    /* background-color: blue; */

}

.swipe_pane_frame .inner_frame .content {

    position: absolute;
    width: 33.33%;
    height: 100%;
    top: 0;
    /* float: left; */

}
/* .swipe_pane_frame .inner_frame .pane0 {

    left: 0;

 
}

.swipe_pane_frame .inner_frame  .pane1 {

    left: 33.3%;

}

.swipe_pane_frame .inner_frame .pane2 {

    left: 66.7%;


} */
    
