.edit_button_base {
    position: absolute;
    width: 40px;
    height: 40px;
    top: 0;
    right: 0;

    box-shadow: 2px 2px 3px gray;
    z-index: 100;

    background-color: red;

}

.visit_record_pane_primary {

    position: relative;
    width: 100%;
    font-size: 15px;
}

.visit_record_pane_primary 
.visit_detail_pane {

    position: relative;
    width: 100%;
    background-color: whitesmoke;
    box-shadow: 2px 2px 4px gray;
}

.visit_record_pane_primary
.visit_detail_pane
.row {
    position: relative;
    width: 100%;
    height: 40px;
    border-bottom: 1px gray solid;
}

.visit_record_pane_primary
.visit_detail_pane
.row
span {
    display: block;
    position: absolute;
    bottom: 0;
    left: 10px;
}

.visit_record_pane_primary
.visit_detail_pane
.person_container {
    position: relative;
    border-bottom: 1px gray solid;
}

.person_cell {
    position: relative;
    width: 100%;
    height: 40px;
    border-bottom: 1px lightgray solid;
    background-color: whitesmoke;
}

.person_cell:last-child {
    border: none;
}

.person_cell
.mark_div {
    width: 40px;
    height: 40px;
    font-size: 15px;
    color: white;
}

.person_cell
.button_div {
    position: relative;
    float: left;

    /* background-color: red; */
}

.person_cell
.button_div
.button_mark {
    display: block;
    position: absolute;
    width: 20px;
    height: 20px;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: 10px;
    /* background-color: blue; */
    margin: auto;
}

.person_cell
.rv_div {
    position: relative;
    float: right;

    /* background-color: blue; */
}

.person_cell
.sign {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 30px;
    height: 30px;
    border-radius: 5px;
    margin: auto;
    line-height: 30px;
    text-align: center;
}


.person_cell
.rv_div
.rv_sign {

    background-color: green;
    
}

.person_cell
.st_div {
    position: relative;
    float: right;

    /* background-color: green; */
}

.person_cell
.st_div
.st_sign {
    background-color: lime;
}

.person_cell
.person_data {
    position: absolute;
    left: 40px;
    font-size: 12px;
    height: 40px;
    line-height: 40px;
}

.visit_record_pane_primary
.visit_detail_pane
.placement_container {
    width: 100%;
    height: auto ;
    border-bottom: 1px gray solid;
}

.visit_record_pane_primary
.visit_detail_pane
.placement_container
.placement_cell {
    width: 100%;
    height: 40px;
    line-height: 40px;
    border-bottom: 1px lightgray solid;
    font-size: 12px;
    text-indent: 60px;
    /* text-align: center; */
}

.visit_record_pane_primary
.visit_detail_pane
.placement_container
.placement_cell:last-child {
    border: none;
}

.visit_record_pane_primary
.visit_detail_pane
.visit_note {
    width: 100%;
    height: 60px;
    border-bottom: 1px solid gray;
    font-size: 12px;
    text-indent: 60px;
}

.visit_record_pane_primary
.record_visit_button {
    width: 100%;
    height: 48px;
    margin: 2px 0;
    line-height: 48px;
    text-align: center;
    color: darkgreen;
    box-shadow: 2px 2px 4px gray;
}


.visit_record_pane_secondary {
    position: relative;
    width: 100%;
    font-size: 15px;
}

.visit_record_pane_secondary
.visit_record_list_wrapper {

    position: relative;
    width: 100%;
    height: 250px;
    box-shadow: 2px 2px 4px gray inset;
    border-radius: 3px;
}

.visit_record_pane_secondary 
.visit_record_list {
    position: absolute;
    width: 98%;
    height: 98%;
    top: 1%;
    left: 1%;
    overflow-y: auto;
}

.visit_record_cell {
    position: relative;
    width: 100%;
    height: 40px;
    left: 0;
    right: 0;
    margin: 0 auto;
    border-bottom: 1px solid lightgray;
    background-color: whitesmoke;
}

.visit_record_cell
.button_div {
    position: absolute;
    width: 40px;
    height: 40px;
    top: 0;
    left: 0;
}

.visit_record_cell
.button_div
.button_mark {
    display: block;
    position: absolute;
    width: 20px;
    height: 20px;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: 10px;
    /* background-color: blue; */
    margin: auto;
}

.visit_record_cell
.date_time_text {
    height: 40px;
    line-height: 40px;
    position: absolute;
    left: 40px;
    font-size: 12px;
}

.visit_record_cell
.edit_button_base {
    position: absolute;
    width: 40px;
    height: 40px;
    top: 0;
    right: 0;

    background-color: blue;
}

