.visit_record_pane_primary {

    position: relative;
    width: 100%;
    background-color: whitesmoke;
    font-size: 15px;
    box-shadow: 2px 2px 4px gray;

}

.visit_record_pane_primary
h2 {
    font-size: 18px;
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 10px;
    height: 25px;
    line-height: 25px;
    border-bottom: 1px gray solid;
}

.visit_record_pane_primary
.row {
    
    width: 100%;
    height: 40px;
    border-bottom: 1px gray solid;
}

.visit_record_pane_primary
.row
span {
    display: block;
    position: absolute;
    bottom: 0;
    left: 10px;
}


