#name_text {
    position: relative;
    display: block;
    width: 90%;
    left: 0;
    right: 0;
    margin: 5px auto;
}

#sex_select_group {
    position: relative;
    left :0;
    right: 0;
    margin: 5px auto;
}

.sex_select_element {
    height: 45px;
    float: left;
    line-height: 45px;
}

.sex_select_title {
    width: 20%;
    text-align: center;
}

.sex_select_option {
    width: 40%;
}

.toggle_button_base {
    position: relative;
    width: 30px;
    height: 45px;
    float: left;
}

.sex_option_text {
    height: 45px;
    float: left;
    margin-left: 5px;
}