.map_page_frame {
    position: absolute;
    width: 100%;
    height: 100%;
}

.map_page_frame
#horizontal_frame {

    position: absolute;

    top: 0;
    left: -200px;
    width: 100%; /* Default width: must be calcurated to window width + drawer width */
    height: 50%;
    
}

.map_page_frame
#horizontal_frame
.map_pane_base_base {

    position:  absolute;

    top: 0;
    left: 200px;
    width: 100%; /* Default width: must be calcurated to window width */
    height: 100%;

}

.map_page_frame
#horizontal_frame 
.map_pane_base_base 
#tool_header {

    position:  absolute;

    top: 0;
    left: 0;
    width: 100%;
    height: 50px;
    background-color: rgba(0, 0, 0, 0.5);
}

.map_page_frame
#horizontal_frame 
.map_pane_base_base 
#tool_header 
#tool_header_logo {

    position: relative;
    float: left;
    width: 50px;
    height: 50px;

}

.map_page_frame
#horizontal_frame 
.map_pane_base_base 
#tool_header 
#tool_header_logo 
img {
    
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;
}

.map_page_frame
#horizontal_frame
.map_pane_base_base
#map_pane_base {

    position: absolute;

    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.map_page_frame
#horizontal_frame 
.map_pane_base_base
#map_overlay {

    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;

    color: red;
}

.map_page_frame
#horizontal_frame 
#drawer_frame {

    position: absolute;
    top: 0;
    left: 0;
    width: 200px;
    height: 100%;
    background-color: whitesmoke;

}

.map_page_frame
#horizontal_frame 
#drawer_frame 
#drawer_header {

    position: relative;
    width: 100%;
    height: 80px;
}

.map_page_frame
#horizontal_frame 
#drawer_frame 
#drawer_header 
.drawer_logo {

    position: relative;
    width: 100%;
    height: 50px;
}

.map_page_frame
#horizontal_frame 
#drawer_frame 
#drawer_header 
.drawer_logo 
img {

    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;
    
}

.map_page_frame
#horizontal_frame 
#drawer_frame 
#drawer_header 
h1.app_title {
     
    height: 30px;
    line-height: 30px;
    font-size: 25px;
    text-align: center;
    margin: 0;
}