 .hour_frame {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;
    width: 200px;
    height: 200px;
    background-color: white;
}

 .hour_frame .hour_child_frame {
    
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.7)

}

.hour_frame .hour_child_frame .hour_button {
    position: absolute;
    text-align: center;
    background-color: springgreen;
    color: white;
}