.publication_pane {
    width: 250px;
    height: 300px;
    position: relative;
    background-color: whitesmoke;
}

.publication_pane
.rail {
    position: absolute;
    width: 100%;
    height: 40px;
    top: 0;
    left: 0;
}

.publication_pane
.rail
.tab_flag {
    position: absolute;
    width: 50%;
    height: 37px;
    top: 0;
    left: 0;
    border-bottom: darkgreen 3px solid;
}

.publication_pane
.rail
.tab {

    position: absolute;
    width: 50%;
    height: 40px;
    top: 0;
    line-height: 40px;
    text-align: center;
    font-size: 15px;
    color: darkgreen;

}

.publication_pane
.rail
.history {

    left: 0;
}

.publication_pane
.rail
.general {

    left: 50%
}

.publication_pane
.list_frame {

    position: absolute;
    width: 100%;
    height: 260px;
    top: 40px;
    left: 0;
    border-top: 1px solid gray;
    overflow: hidden;
}

.publication_pane
.list_frame
.horizontal_frame {
    position: absolute;
    top: 0;
    left: 0;
    width: 200%;
    height: 100%;
}

.publication_pane
.list_frame
.horizontal_frame
.child_frame {

    position: absolute;
    width: 50%;
    height: 100%;
    top: 0;
}

.publication_pane
.list_frame
.horizontal_frame
.history_frame {
    
    left: 0;
    /* background-color: red; */
    
}

.publication_pane
.list_frame
.horizontal_frame
.history_frame
#pub_search_text {

    width: 95%;
    height: 30px;
    left: 0;
    right: 0;
    margin: 5px auto;
    display: block;    
}

.publication_pane
.list_frame
.horizontal_frame
.history_frame
.history_list_frame {
    width: 100%;
    /* height: auto; */
}

.publication_pane
.list_frame
.horizontal_frame
.general_frame {

    position: absolute;
    left: 50%;
    overflow: hidden;
    overflow-y: scroll;
}

.publication_pane
.list_frame
.horizontal_frame
.general_frame::-webkit-scrollbar {

    display: none;
    
}

.publication_pane
.list_frame
.horizontal_frame
.general_frame
.general_list_frame {
    position: absolute;
    width: 100%;
    height: auto;
}


.publication_pane
.list_frame
.horizontal_frame
.general_frame
.general_list_cell {

    width: 100%;
    height: 40px;
    border-bottom: 1px gray solid;
    line-height: 40px;
    font-size: 15px;

    padding-left: 5%;
}