body {
    -webkit-touch-callout: none;                /* prevent callout to copy image, etc when tap to hold */
    -webkit-text-size-adjust: none;             /* prevent webkit from resizing text to fit */
    -webkit-user-select: none;                  /* prevent copy paste, to allow, change 'none' to 'text' */
    background-color:#888;
    background-attachment:fixed;
    font-family:'HelveticaNeue-Light', 'HelveticaNeue', Helvetica, Arial, sans-serif;
    font-size:12px;
    /* height:100%; */
    margin:0px;
    padding:0px;
    /* width:100%; */
}

#ad_frame {
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #333;
    height: 50px;
    width: 100%;
}

.button {
    width: 180px;
    height: 50px;
    line-height: 50px;
    font-size: 15px;
    color: #1b441e;
    text-align: center;
    vertical-align: middle;
    left: 0;
    margin: 5px auto;

}

h2.dialog_title {
    width: 100%;
    height: 40px;
    line-height: 40px;
    text-align: center;
    color: #222;
    margin: 5px auto;
}

.button:active {
    opacity: 0.3;
}

.cancel_button {
    color: darkorange;
}

