html {
    width: 100%;
    height: 100%;
    font-family:'HelveticaNeue-Light', 'HelveticaNeue', Helvetica, Arial, sans-serif;
}

body {
    -webkit-touch-callout: none;                /* prevent callout to copy image, etc when tap to hold */
    -webkit-text-size-adjust: none;             /* prevent webkit from resizing text to fit */
    -webkit-user-select: none;                  /* prevent copy paste, to allow, change 'none' to 'text' */
    background-color:#888;
    color: #333;

    background-attachment:fixed;
    font-size:12px;
    height:100%;
    margin:0px;
    padding:0px;
    width:100%;
}

#app_frame {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;        
    height: 80%;        /* Default height: must be adjusted according to window height */
    background-color: whitesmoke;
    overflow: hidden;
}

#app_frame 
#slide_frame {
    
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 200%;

}


img.logo {
    width: 36px;
    height: 36px;
}


#app_frame #slide_frame #control_frame {

    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
    top: 50%;
    background-color: whitesmoke
}

#app_frame #slide_frame #control_frame .control_header {

    position: relative;

    width: 100%;
    height: 50px;
}

#app_frame #slide_frame #control_frame .control_header #logo_button {

    position: relative;
    width: 50px;
    height: 50px;
    float: left;
}

#app_frame #slide_frame #control_frame .control_header #logo_button img {

    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;

}

#app_frame #slide_frame #control_frame .control_header #page_title {

    position: relative;
    display: block;
    float: left;
    font-size: 20px;
    height: 50px;
    line-height: 50px;
    margin-left: 10px;
}

#ad_frame {
    position: fixed;
    left: 0;
    background-color: #333;
    height: 50px;
    width: 100%;
    bottom : 0
}



/* #app_title {
    font-size: 20px;
}

h1.page_title {
    color: #333;
    font-size: 25px;
}

h2.page_subtitle {
    color: #333;
    font-size: 15px;
    margin : 3px;
    height: 15px;
}

#logo_button {
    position: absolute;
    width: 40px;
    height: 40px;
    background: transparent;
    padding: 0;
    border: none;
    outline: none;
}

#logo_button img {
    width: 100%;
    height: 100%;
}

#logo_button img:active {
    opacity: 0.3;
}





h2.dialog_title {
    width: 100%;
    height: 40px;
    line-height: 40px;
    text-align: center;
    color: #252525;
    margin: 5px auto;
}

h3 {
    width: 100%;
    height: 30px;
    line-height: 30px;
    text-align: auto;
    color: #252525;
    margin: 5px auto;
    padding-left: 10px;
    padding-right: 10px;
}

.button {
    width: 140px;
    height: 45px;
    line-height: 45px;
    font-size: 15px;
    color: #1b441e;
    text-align: center;
    vertical-align: middle;
    left: 0;
    margin: 5px auto;

}

.button:active {
    opacity: 0.3;
}

.cancel_button {
    color: darkorange;
}

.negative_button {
    color: red;
}

.text_input {
    display: block;
    background-color: white;
    height: 30px;
    width: auto;
    font-size: 15px;
    border: solid gray 1px;
    border-radius: 5px;
    padding-left: 5px;
    outline: none;
}

.text_area {
    background-color: white;
    height: auto;
    width: auto;
    font-size: 15px;
    border: solid gray 1px;
    border-radius: 5px;
    padding-left: 5px;
    outline: none;
    font-family: Arial, Helvetica, sans-serif;
}

.green_button {
    position: relative;
    background-color: #34873b;
    color: white;
    font-size: 20px;
    border-radius: 10px;
}

.circle_plus {
    position: absolute;
    display: inline-block;
    width: 30px;
    height: 30px;
    top: 0;
    bottom: 0;
    left: 10px;
    margin: auto 0;
    border-radius: 16px;
    border: solid 1px white;
    font-size: 30px;
    text-align: center;
    color: white;
    line-height: 32px;
    vertical-align: middle;

}

.ui_row_height_45px {
    position: relative;
    height: 45px;
    width: 90%;
    left: 0;
    right: 0;
    margin: 5px auto;
}

.page_frame {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: whitesmoke;
} */