html {
    width: 100%;
    height: 100%;
    font-family:'HelveticaNeue-Light', 'HelveticaNeue', Helvetica, Arial, sans-serif;
}

body {
    -webkit-touch-callout: none;                /* prevent callout to copy image, etc when tap to hold */
    -webkit-text-size-adjust: none;             /* prevent webkit from resizing text to fit */
    -webkit-user-select: none;                  /* prevent copy paste, to allow, change 'none' to 'text' */
    background-color:#888;
    color: #333;

    background-attachment:fixed;
    font-size:12px;
    height:100%;
    margin:0px;
    padding:0px;
    width:100%;
}

#app_frame {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;        
    height: 80%;        /* Default height: must be adjusted according to window height */
    background-color: whitesmoke;
    overflow: hidden;
}

#app_frame 
#slide_frame {
    
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 200%;

}


img.logo {
    width: 36px;
    height: 36px;
}


#app_frame 
#slide_frame 
#control_frame {

    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
    top: 50%;
    background-color: whitesmoke
}

/* #app_frame
#slide_frame 
#control_frame 
.control_header {

    position: relative;

    width: 100%;
    height: 50px;
}

#app_frame #slide_frame #control_frame .control_header #logo_button {

    position: relative;
    width: 50px;
    height: 50px;
    float: left;
}

#app_frame #slide_frame #control_frame .control_header #logo_button img {

    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;

} */

/* #app_frame #slide_frame #control_frame .control_header #page_title {

    position: relative;
    display: block;
    float: left;
    font-size: 20px;
    height: 50px;
    line-height: 50px;
    margin-left: 10px;
} */

#ad_frame {
    position: fixed;
    left: 0;
    background-color: #333;
    height: 50px;
    width: 100%;
    bottom : 0
}

.text_input {

    border: solid 1px gray;
    background-color: white;
    border-radius: 5px;
    box-shadow: 1px 1px 3px #333 inset;
    font-family: Arial, Helvetica, sans-serif;
    max-width: 100%;

}

.green_button {
    position: relative;
    background-color: #34873b;
    color: white;
    font-size: 18px;
    border-radius: 5px;
    width: 100%;
    height: 45px;
    line-height: 45px;
    text-align: center
}

.green_button
.circle_plus {
    position: absolute;
    display: inline-block;
    width: 30px;
    height: 30px;
    top: 0;
    bottom: 0;
    left: 10px;
    margin: auto 0;
    border-radius: 16px;
    border: solid 1px white;
    font-size: 30px;
    text-align: center;
    color: white;
    line-height: 32px;
    vertical-align: middle;

}

