.primary_pane {
    position: relative;
    width: 100%;
    height: auto;
    top: 0;
    left: 0;
}

.secondary_pane {
    position: relative;
    width: 100%;
    height: auto;
    left: 0;
}

@media screen and (min-width: 500px) {
    .primary_pane {
        position: absolute;
        width: 50%;
        height: 100%;
        top: 0;
        left: 0;
        border-right: solid 1px gray;
    }
    
    .secondary_pane {
        position: absolute;
        width: 50%;
        height: 100%;
        top: 0;
        left: 50%;
    }
}